<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" id="logo">
      <%= image_tag("logo-white.png", size: "100x53", alt: "Logo") %>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>
  <body>
    <div class="container">
      <div class="row">
        <% if @projects.any?%>
        <div id="projects" class="col s8">
          <%= render @projects %>
          <div class="infinite-scrolling col s8">
            <%= will_paginate @projects %>
          </div>
        </div>

        <%else%>
        <div class="col s8">
        <p class="center"> there are no projects </p>
        </div>
        <%end%>
        <div class="col s4">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Important project here.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Important project here.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Important project here.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Important project here.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Important project here.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
