<div>
 <div class="card">
     <div class="card-image waves-effect waves-block waves-light">
       <img class="activator" src="https://www.marcswords.com/wp-content/themes/fearless/images/missing-image-640x360.png">
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><%= project.title %><i class="material-icons right">more_vert</i></span>
       <p><a href="#">This is a link</a></p>
     </div>
     <div class="card-reveal">
       <span class="card-title grey-text text-darken-4"><%= project.title %><i class="material-icons right">close</i></span>
       <p><%= project.description%></p>
     </div>
   </div>
</div>
