// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo{
  margin-left: 70px;
}

.container {
  margin-top: 20px;
  width: 90%;
}

.search-wrapper {
  height: 40px;
  margin-top: 13px;
  margin-right: 20px;
  color: black;
  line-height: 5px;
  border-bottom: none;
  border-radius: 0;
}

input[name=search], input[type=text]:focus, input[type=text]:active {
  border-bottom: none;
  border-radius: 0;
}

